<StackLayout #container>
    <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>
    <TextField [(ngModel)]="user.email" hint="Email Address" keyboardType="email" autocorrect="false"
        autocapitalizationType="none"></TextField>
    <TextField [(ngModel)]="user.password" hint="Password" secure="true"></TextField>

    <Button [text]="isLoggingIn ? 'Sign in' : 'Sign Up'" class="submit-button" (tap)="submit()"></Button>
    <Button [text]="isLoggingIn ? 'Sign up' : 'Back to login'" (tap)="toggleDisplay()"></Button>
</StackLayout>
