<GridLayout rows="auto, *">

    <GridLayout row="0" columns="*, auto" class="add-bar">
        <TextField #groceryTextField [(ngModel)]="grocery" hint="Enter a grocery item" col="0"></TextField>
        <Image src="res://add" (tap)="add()" col="1"></Image>
    </GridLayout>

    <ListView [items]="groceryList" row="1" class="small-spacing">
        <ng-template let-item="item">
            <Label [text]="item.name" class="medium-spacing"></Label>
        </ng-template>
    </ListView>
</GridLayout>
